*{
    margin: 0;
    padding: 0;
}
h3 {
  color: brown;
}

.box{
    background-color: blueviolet;
    /* margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 30px; 
    margin-left: 50px; */
    margin: 20px 50px 30px 50px;
    /* margin: 20px 30px;  
    margin: top and bottom, right and left;
    */ 
    /* padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px; */

    padding: 30px 30px 40px 30px;
    width: 250px;
    border: 5px solid burlywood;
    border-radius: 5px;
}


.box h2{
    color: white;
}

.box p{
    color: yellowgreen;
}